{% import 'AppBundle:macros:helpers.html.twig' as helpers %}
{% set propertyName = propertyName|default('blocks') %}

{% set customClass = '' %}
{% if block.custom_class is defined %}
    {% set customClass = block.custom_class|default('') %}
{% endif %}

<div class="row center-xs">
    <div class="col-xs-12 pad-xs-b">
        <div id="main" class="container-bg">
            <div class="row center-xs pad-xs-y">

                {% if block.display_heading|default(true) %}
                    {% set heading = {
                        'title': block.title|default(),
                        'heading_level': 2,
                    } %}
                    {{ helpers.loadBlock('heading', {block: heading}) }}
                {% endif %}

                {% set active_elements = block.active_elements|default(0) %}
                <!-- end title-header -->
                <div class="col-xs-12 progress">
                    <div class="building-dynamic">
                        <ul>
                            {% if block.text_1|length %}
                                <li {% if 1 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_1 }}</p>
                                </li>
                            {% endif %}
                            {% if block.text_2|length %}
                                <li {% if 2 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_2 }}</p>
                                </li>
                            {% endif %}
                            {% if block.text_3|length %}
                                <li {% if 3 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_3 }}</p>
                                </li>
                            {% endif %}
                            {% if block.text_4|length %}
                                <li {% if 4 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_4 }}</p>
                                </li>
                            {% endif %}
                            {% if block.text_5|length %}
                                <li {% if 5 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_5 }}</p>
                                </li>
                            {% endif %}
                            {% if block.text_6|length %}
                                <li {% if 6 <= active_elements %} class="active" {% endif %}>
                                    <div class="line"></div>
                                    <p>{{ block.text_6 }}</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if block.more_link %}
                    {% set url = sulu_content_load(block.more_link).content.url %}
                    {% set url = "/"~context.request.locale ~
                        url %}
                    <a href="{{ url }}" class="button button--future">
                        {{ block.more_text|default('view_photo'|trans) }} <i
                                class="right material-icons">photo_camera</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
